@{
    ViewBag.Title = "بازیابی رمزعبور";
}

<div>
    <div id="Alert">
        <div class="alert alert-success alert-dismissable fade in text-center" style="font-size:18px;margin-top:20px">
            <span class="center-align">لطفاً ایمیل خود را چک کنید</span>
        </div>
    </div>
</div>
	
