
@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div id="Error" class="row">
    <div class="alert alert-success alert-dismissable fade in text-right" style="margin-top:15px">
        <span>
            درخواست تغییر رمز شما با موفقیت برای مدیر سایت ارسال گردید
        </span>

    </div>
</div>
<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large pulse blue">
        <i class="material-icons">menu</i>
    </a>
    <ul>

        <li><a href="@Url.Action("Index", "Home", new { area = "" }, null)" class="btn tooltipped btn-floating blue darken-3" data-position="top" data-tooltip="صفحه اصلی" data-delay="50"><i class="material-icons">home</i></a></li>
    </ul>
</div>
