
@{
    ViewBag.Title = "ConfirmPayment";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div id="Success" class="row">
    <div class="alert alert-success alert-dismissable fade in text-right" style="margin-top:15px">
      

    </div>
</div>




