
@{
    ViewBag.Title = "وضعیت پرداخت";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}
<div id="Success" class="row">
    <div class="alert alert-success alert-dismissable fade in text-right" style="margin-top:15px">
        کاربر گرامی  قسط شما در صف پرداخت بعد از تایید مدیر سایت قرار گرفت
        
        </div>
    </div>



