@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="jumbotron" style="margin-top:50px">
    <img src="~/Images/Commercial1.jpg" alt="Alternate Text" class="responsive-img img-rounded img-thumbnail hidden-xs hidden-sm"/>
</div>

